.hero-unit
  %h1
    Group
    = @lab_group.number
  %p
    A list of your labs for this course


%table.table.table-bordered.table-striped
  %thead
    %th Lab title
  %tbody
    - @labs.each do |lab|
      %tr
        %td= link_to lab.title, course_lab_group_lab_path(current_role.class.name.downcase, @course, @lab_group, lab)