<%
%>

<%= breadcrumbs_from(@message) -%>

<h2 class="content-header"><%= t "views.messages.title_new" %></h2>

<%= render :partial => "form" %>

<% content_for(:sidebar) do %>
  <%= render :partial => "sidebar" %>
<% end %>
