<%
%>

<div id="repo_search" 
     gts:searchUri="<%= path -%>">
  <form>
  <input name="filter" type="text" class="search" autocomplete="off" />
  <span class="reset"><%= image_tag("/images/cancel_grey.png")-%></span>
  </form>
  <div class="no-results-found">
    No results
  </div>
  <ul class="repository_list"></ul>
</div>
