<%
%>

<% dialog_box(t("views.repos.confirm_delete", :repo => @repository.name, :title => h(@owner.title))) do %>
<p class="important_message">
  <%= t("views.repos.message_delete") %>
  
  <%= form_for repo_owner_path(@repository, [@repository.project, @repository]), :html => {:method => :delete} do |f| -%>
    <%= f.submit(t("views.repos.btn_delete")) -%>
  <% end -%>
</p>
<% end -%>

<% content_for :sidebar do -%>
  <ul class="links navigation">
    <li><%= link_to t("views.projects.back"), 
	repo_owner_path(@repository, [:edit, @repository.project, @repository]) -%></li>
  </ul>
<% end -%>