<%
%>

<% @page_title = t("views.blobs.page_title", :path => current_path.join("/"), :repo => @repository.name, :title => @project.title) -%>
<%= breadcrumbs_from(@root) -%>
<%= render "menu" -%>
<h1><%= t("views.blobs.heading", :ref => h(desplat_path(@ref)), :path => h(desplat_path(@path))) -%></h1>


<% cache([@project, @repository, :blob_history, @ref, @blob.id], {:expires_in => 20.minutes}) do -%>
  <%= render :partial => "commits/log", :locals => { :no_pagination => true } -%>
<% end -%>

