<%
%>

<h1>Slow down!</h1>
<p>
  <strong>Seems like you're just a tad busy, creating all those record that 
  fast. Too much coffee?</strong>
</p>
<p>
  To prevent abuse, we've denied your request due to excessive usage.
</p>

<p>
  Feel free to <a href="/contact">contact us</a> if you believe you've received
  this message in error
</p>
