<%
%>
<h4>Please wait</h4>
  
<p>generating tarball&hellip;</p>

<p class="spin"><%= image_tag("spinner.gif") -%></p>

<script type="text/javascript" charset="utf-8">
var periodicalDownloadChecker = setTimeout(function(){
var url = '<%= tree_archive_status_url -%>';
$("#archive-box-<%= @ref -%>").load(url, function(responseText, textStatus, XMLHttpRequest){
    clearTimeout(periodicalDownloadChecker);
    if (textStatus == "success") {
        $(this).html(responseText);
        $(this).show();
    }
})
}, 5000);
</script>
