.well
  %h2
    This lab is currently empty.
  %p
    You can add data to it either by uploading files, or by accessing the lab through git.
  %p
    Your git clone url:
  %pre
    = @lhg.http_clone_uri