<%
%>

<% container_css_class ||= "" %>
<% pagination_style ||= :full %>

<% benchmark("Event rendering") do -%>
<ul class="events <%= container_css_class -%>">
<% events.group_by{|e| e.created_at.to_s(:human) }.each do |day, events_group| -%>
  <li>
    <p class="date"><%= day -%></p>
    <ul class="event_instances">
      <%= render :partial => events_group -%>
    </ul>
  </li>
<% end -%>
</ul>
<%= render_pagination_links events, :page_links => (pagination_style == :full) -%>
<% end -%>
