<%
%>

<% @page_title = t("views.events.page_title") -%>

<h2><%= t("views.events.system_activities")%> <%= feed_icon @atom_auto_discovery_url %></h2>

<%= render :partial => "events", :object => @events -%>
