- if @submission.lab_has_group.state == "accepted" || @submission.lab_has_group.state == "rejected"
  .well
    = nested_comments(@comment.arrange(:order => :created_at))

.well
  .breadcrumbs
  #tree-view
  .breadcrumbs
