.hero-unit
  %h1 Update submission
  %h2 
    You are updating submission
    = @submission.number
    for group
    = @group.number
  %h2 Students:
  - @group.students.each do |student|
    %p= student.user.email
  %br
  
.well
  %h1 The state that will be tied to the submission
  .breadcrumbs
  #tree-view
  .breadcrumbs
  
.well
  =link_to "Update!", 
    course_lab_group_lab_submission_path(current_role_name, 
    @course_id, 
    @group, 
    @lab_id,
    @submission),
    method: :put,
    class: "btn btn-large btn-danger"