.navbar
  .navbar-inner
    .container
      .nav-collapse
        %ul.nav
          %li
            %a{:href => "#"} About
          %li.divider-vertical
          %ul.nav
            %li
              %a{:href => "#"} Submission
          %li.divider-vertical
          %ul.nav
            %li
              %a{:href => "#"} Browse


      
          



