- content_for :post_css do
  / Generic page styles
  / Bootstrap CSS fixes for IE6
  /[if lt IE 7] <link rel="stylesheet" href="http://blueimp.github.com/cdn/css/bootstrap-ie6.min.css">
  / CSS to style the file input field as button and adjust the Bootstrap progress bars
  = stylesheet_link_tag "jqupload/jquery.fileupload-ui_css"
  
- content_for :post_js do
  / / The Templates plugin is included to render the upload/download listings
  %script{:src => "http://blueimp.github.com/JavaScript-Templates/tmpl.min.js"}
  / The Load Image plugin is included for the preview images and image resizing functionality
  %script{:src => "http://blueimp.github.com/JavaScript-Load-Image/load-image.min.js"}
  / The Canvas to Blob plugin is included for image resizing functionality
  %script{:src => "http://blueimp.github.com/JavaScript-Canvas-to-Blob/canvas-to-blob.min.js"}
  = javascript_include_tag "jqupload/jquery.iframe-transport.js", "jqupload/jquery.fileupload.js", "jqupload/jquery.fileupload-ip.js"
  = javascript_include_tag "jqupload/jquery.fileupload-ui.js", "jqupload/locale.js", "jqupload/main.js"
  %script{type: "text/x-tmpl"}
    #commit-request-dialog.well
      %h1 Sending commit request...

// ###################### HEADER ENDS ########################

.hero-unit
  %h1 Submissions
  %p 
    Before you submit your submissions you upload files to it.
    %br
    Upload files to specific folders by navigating to them in the tree view.
    %br
    When you are satisfied with the submission, push the submit button to submit it.
  %p
    %a.btn.btn-primary.btn-large#scroll_to_uploads{href: "#"}
      Upload files

#breadcrumbs
#spine

%form#fileupload{:action => "/upload", :enctype => "multipart/form-data", :method => "POST"}
  / The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload
  .fileupload-buttonbar
    / The fileinput-button span is used to style the file input field as button
    %span.btn.btn-success.fileinput-button
      %span
        %i.icon-plus.icon-white
        Add files...
      %input{:multiple => "", :name => "files[]", :type => "file"}/
    %button.btn.btn-primary.start{:type => "submit"}
      %i.icon-upload.icon-white
      Start upload
    %button.btn.btn-warning.cancel{:type => "reset"}
      %i.icon-ban-circle.icon-white
      Cancel upload
    %button.btn.btn-danger.delete{:type => "button"}
      %i.icon-trash.icon-white
      Delete
    %input.toggle{:type => "checkbox"}/
  .span5
    / The global progress bar
    .progress.progress-success.progress-striped.active.fade
      .bar{:style => "width:0%;"}
  / The loading indicator is shown during image processing
  .fileupload-loading
  %br/
  / The table listing the files available for upload/download
  %table.table.table-striped
    %tbody.files{"data-target" => "#modal-gallery", "data-toggle" => "modal-gallery"}

/ The template to display files available for upload
%script#template-upload{:type => "text/x-tmpl"}
  {% for (var i=0, files=o.files, l=files.length, file=files[0]; i<l; file=files[++i]) { %}
  <tr class="template-upload fade">
  <td class="preview"><span class="fade"></span></td>
  <td class="name">{%=file.name%}</td>
  <td class="size">{%=o.formatFileSize(file.size)%}</td>
  {% if (file.error) { %}
  <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
  {% } else if (o.files.valid && !i) { %}
  <td>
  <div class="progress progress-success progress-striped active"><div class="bar" style="width:0%;"></div></div>
  </td>
  <td class="start">{% if (!o.options.autoUpload) { %}
  <button class="btn btn-primary">
  <i class="icon-upload icon-white"></i> {%=locale.fileupload.start%}
  </button>
  {% } %}</td>
  {% } else { %}
  <td colspan="2"></td>
  {% } %}
  <td class="cancel">{% if (!i) { %}
  <button class="btn btn-warning">
  <i class="icon-ban-circle icon-white"></i> {%=locale.fileupload.cancel%}
  </button>
  {% } %}</td>
  </tr>
  {% } %}
/ The template to display files available for download
%script#template-download{:type => "text/x-tmpl"}
  {% for (var i=0, files=o.files, l=files.length, file=files[0]; i<l; file=files[++i]) { %}
  <tr class="template-download fade">
  {% if (file.error) { %}
  <td></td>
  <td class="name">{%=file.name%}</td>
  <td class="size">{%=o.formatFileSize(file.size)%}</td>
  <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
  {% } else { %}
  <td class="preview">{% if (file.thumbnail_url) { %}
  <a href="{%=file.url%}" title="{%=file.name%}" rel="gallery" download="{%=file.name%}"><img src="{%=file.thumbnail_url%}"></a>
  {% } %}</td>
  <td class="name">
  <a href="{%=file.url%}" title="{%=file.name%}" rel="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{%=file.name%}</a>
  </td>
  <td class="size">{%=o.formatFileSize(file.size)%}</td>
  <td colspan="2"></td>
  {% } %}
  <td class="delete">
  <button class="btn btn-danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}">
  <i class="icon-trash icon-white"></i> {%=locale.fileupload.destroy%}
  </button>
  <input type="checkbox" name="delete" value="1">
  </td>
  </tr>
  {% } %}
%script#template-notification{:type => "text/x-tmpl"}
  <h1><%= name %></h1>

