<% url = Gitorious::Application.routes.url_helpers %>

window.App.pendingUploads     = 0;
window.App.successfulUploads  = [];

window.App.functions.sendAddCommitRequest = function (files, path) 
  {
    $("#main").append("<div id=\"status\" class=\"well\"><h1>Sending commit request... </h1></div>");
    action = "<%= url.commit_request_path %>";
    request = {"method":"add"};
    request.files = [];
    
    _.each(files, function(file) {
      request.files.push({"id": file.id, "to": [path, file.name].join("/")});
    });
    console.log(request);
    $.ajax(action, 
      {
        type: "POST",
        data: request,
        success: function() {$("#status h1").text("Done!"); }
    });
  };