<%
%>

<% hide_tips ||= false -%>

<div class="search_bar">
<%= form_for :search, :url => search_path(:only_path => false,
    :host => GitoriousConfig["gitorious_host"], :protocol => "http"),
    :html => { :method => "get" } do |f| -%>
<p>
  <%= text_field_tag :q, params[:q], :class => "text search-field round-5" -%> 
  <input type="submit" value="<%= t("views.searches.search") %>" class="search-submit round-5" />
</p>  
<p class="hint search-hint" style="display: none;">
  <%= t("views.searches.hint") %>
  <% unless hide_tips -%>
  - <small><a id="advanced-search-toggler" href="#advanced">Advanced search tips</a></small>
  <% end -%>
</p>
<% end -%>
</div>
