- if logged_in?
  %h1 
    Welcome 
    = current_user.fullname ? current_user.fullname : current_user.login
  %br
- if @student_courses
  = render partial: "student"
- if @assistant_courses
  = render partial: "assistant"