.hero-unit
  %h1 
    Course:
    = @course.all_course_codes
  %h2
- if current_role.is_a? Student
  %table.table.table-striped
    %thead
      %tr
        %th
          Number
        %th
          Title
        %th
          Description
        %th
          State
    %tbody
    = render @lab_has_groups