<%
%>
<div class="section">
 <h2 class="content-header">Contact Info</h2>
  <p>
    If you experience any technical issues feel free to  
    <a href="mailto:<%= GitoriousConfig['gitorious_support_email'] -%>">send an email</a>.
    There is also the <a href="http://groups.google.com/group/gitorious">discussion group</a>
    for more general discussions around Gitorious, and the
    <a href="irc://irc.freenode.net/gitorious"><code>#gitorious</code></a> IRC 
    channel on FreeNode.
  </p>
</div>

<% content_for :sidebar do -%>
  <ul class="links navigation">
    <%= render "meta_links" -%>
  </ul>
<% end -%>
