%h1 Hi! I'm the Labs#index action!
%table.table.table-striped
  %thead
    %tr
      %th
        Number
      %th
        Title
      %th
        Description
      %th
        State
  %tbody
    = render @lab_has_groups