<%
%>

<ul>
<% @groups.each do |group| -%>
<li class="committers">
  <div class="name"><%=h group.name -%></div>
  <div class="hint">(<%= pluralize group.members.count, "member", "members" -%>)</div>
</li>
<% end -%>
</ul>